<html lang="en">
<head>
    <title>Dashboard</title>
</head>
<body>
    <%- include('header') %>

    <div class="jumbotron">
        <h1>Welcome</h1>
        <p>Hello Dashboard</p>
        <p>
            <a class="btn btn-lg btn-primary" href="/home/profile" title="">Profile View >></a>
            <% user.user_type %>
        </p>
    </div>

    <%- include('footer') %>
</body>
</html>
